<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>test-server</display-name>
  <distributable/>
  <servlet>
    <servlet-name>SearchJndiServlet</servlet-name>
    <servlet-class>org.example.test.server.servlet.SearchJndiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchJmxServlet</servlet-name>
    <servlet-class>org.example.test.server.servlet.SearchJmxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJndiServlet</servlet-name>
    <url-pattern>/search/jndi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchJmxServlet</servlet-name>
    <url-pattern>/search/jmx</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>